h1 {
    text-align: center;
    margin-bottom: 50px;
}

menu {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid black;

}

menu a {
    text-decoration: none;
    padding: 10px;
    margin: 50px;
}

h2 {
    text-align: center;
    padding-top: 45px;
    margin-bottom: 40px;
}

#contenedor1 {
    display: inline-block;
    text-align: center;
    border: 2px solid black;
    margin-left: 150px;
    margin-right: 90px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
   
}

div > img {
    width: 200px;
    height: 200px;
}

div > a {
    text-decoration: none;
}
#nuevo {
  text-align: right;
}
#contenedor2 {
    display: inline-block;
    text-align: center;
     border: 2px solid black;
     margin-bottom: 45px;
     margin-left: 90px;
     margin-right: 90px;
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
     
}
#contenedor3 {
    display: inline-block;
    text-align: center;
    border: 2px solid black;
    padding-top: 35px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 90px;
    margin-right: 80px;
}

.contenedorImagenes {
    position: relative;
}

.imagenesombreada{
    width: 180px;
    height: 190px;
    position: absolute;
    top: 3%;
    left: 5%;
    display: none;
}

.textosombreado {
    position: absolute;
    display: none;
    bottom: 15%;
    color: yellow;
    
}

.contenedorImagenes:hover .imagenesombreada {
    display: block;
}

.imagenesombreada:hover  ~ .textosombreado {
    display: block;
}



footer {
    text-align: left;
    border: 2px solid black;
    padding-left: 10px;
}

#flecha{
    position: absolute;
    bottom: 5%;
    right: 55px;
    border: 2px solid black;
}